.ecom-footer {
  background-color: #343a40;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-link:hover {
  color: #ffc107;
  transform: translateX(4px);
}

.ecom-footer i {
  margin-right: 10px;
}
